# Ignore Gradle build files
.gradle/
build/
out/

# Ignore IDE files (VS Code, IntelliJ, Eclipse)
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
bin/

# Ignore Generated Reports (Fixes the 40% HTML issue)
reports/
logs/
test-output/
extent-config.xml

# Ignore System files
.DS_Store
Thumbs.db