# Ignore Gradle build files
.gradle/
build/
out/

# Ignore IDE files (VS Code, IntelliJ, Eclipse)
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
bin/

# Ignore Generated Reports
reports/
logs/
test-output/
extent-config.xml

# Logs
logs/
*.log
test-output/

# Ignore System files
.DS_Store
Thumbs.db